/* Link to remote labs https://electromeet.com/RemoteLabWeb */

/* Header size increase of title 'List of available remote labs' */
h1 {
    font-size: 300%;
}

/* Increase the size of the overall font */
tr {
    font-size: 125%;
}

/* Button default colour */
.btn-default {
    background: #df691a !important;
    border-radius: 2px !important;
}

/* Button default colour hover */
.btn-default:hover {
    background: #af5316 !important;
}